#navbar a:hover {
	text-decoration: none;
}

#signUpScreen {
	cursor: pointer;
}

#logInScreen {
	cursor: pointer;
}

label {
	cursor: default;
}

h1 {
	padding: 30px 0px 30px 0px !important;
}

.clickableRow {
	cursor: pointer;
}

#difficulty {
	cursor: default;
	padding: 0px;
	margin: 0px; 
	display: inline;
}