nav a:hover {
	text-decoration: none;
}


header {
	background: url(../images/homepage.jpg) top left no-repeat;
	background-size: cover;
	height: 300px;
	padding-top: 1px;
}

header h1 {
	padding: 50px 20px;
}