<link type="text/css" rel="stylesheet" href="public/stylesheets/min/metro-bootstrap.min.css"/>
<link type="text/css" rel="stylesheet" href="public/stylesheets/min/metro-bootstrap-responsive.min.css"/>
<link type="text/css" rel="stylesheet" href="public/stylesheets/min/iconFont.min.css"/>
<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="public/javascripts/jquery.widget.min.js"></script>
<script type="text/javascript" src="public/javascripts/jquery-ui.min.js"></script>
<script type="text/javascript" src="public/javascripts/metro.min.js"></script>
<script type="text/javascript" src="public/javascripts/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="public/javascripts/metro-dropdown.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<link type="text/css" rel="stylesheet" href="public/stylesheets/global.css"/>
