<nav id="navbar" class="navigation-bar dark">
	<nav class="navigation-bar-content container">
		<span class="element-divider"></span>
		<a class="element" href="home.php"><span class="icon-laptop"></span> Infomania </a>
		<span class="element-divider"></span>
		<a class="element" href="categorii.php"> Probleme </a>
		<span class="element-divider"></span>
		<?php if (!isset($_SESSION["user"])) : ?>
			<a id="signUpScreen" class="element pull-right">Inregistrare</a>
			<a id="logInScreen" class="element pull-right">Autentificare</a>
		<?php else : ?>
			<div class="element place-right">
				<a id="drop" class="dropdown-toggle"><span class="icon-cog"></span></a>
				<ul id="dropMenu" class="dropdown-menu light place-right" data-role="dropdown">
					<li><a id="link1" onclick="redirect(1)" href="#">Password</a></li>
					<li><a id="link2" onclick="redirect(2)" href="#">Log out</a></li>
				</ul>
			</div>
			<script>
				/* dropdown-menu */
				$(document).ready(function() {
	                $("#drop").on('click', function() {
	                	if ($("#dropMenu").hasClass("open")) {
	                		$("#dropMenu").removeClass("open");
	                	}
	                	else {
	                    	$("#dropMenu").addClass("open");
	                   	}   
	                });
            	});
				/* dropdown-menu links */
				var redirect = function (x) {
					if (x === 1) {
						$.Dialog ({
							overlay: true,
							shadow: true,
							flat: true,
							icon: '<span class="icon-puzzle"></span>',
							title: "Parola noua",
							content: '<div style="padding: 30px 10px 10px;width:500px"><p id="notPassword" class="fg-red"></p><label>Parola veche</label><div class="input-control password"><input id="oldPassword" type="password" name="oldPassword" placeholder="parola dvs."/></div><label>Parola noua</label><div class="input-control password"><input id="newPassword" type="password" name="newPassword" placeholder="noua parola"/></div><label>Confirmati Parola</label><div class="input-control password"><input id="verifyPassword" type="password" name="verifyPassword" placeholder="confirmati parola"/></div><button class="button primary" onclick="changePassword()">Trimite</button>'
						});
					}
					if (x === 2) {
						$.ajax ({
							url : "logout.php", 
							type : "POST",
							async : false,
							success : function(result) {
								refresh()
							}
						});
					}
				}

				var changePassword = function () {
					var ok1 = 1;
					var ok2 = 1;
					if (oldPassword.value === "") {
						$("#oldPassword").parent().addClass("error-state");
						ok1 = 0;
					}
					else {
						$("#oldPassword").parent().removeClass("error-state");
						ok1 = 1;
					}
					if ((newPassword.value === "" && verifyPassword.value ==="") || newPassword.value !== verifyPassword.value) {
						$("#verifyPassword").parent().addClass("error-state");
						$("#newPassword").parent().addClass("error-state");
						ok2 = 0;
					}
					else {
						$("#verifyPassword").parent().removeClass("error-state");
						$("#newPassword").parent().removeClass("error-state");
						ok2 = 1;
					}
					if (ok1 === 0 || ok2 === 0)
						return;

					$.ajax ({
						url : "changepassword.php", 
						type : "POST",
						async : false,
						data: {
							username: '<?php echo $_SESSION["user"]; ?>',
							oldPassword: oldPassword.value,
							newPassword: newPassword.value
						},
						success : function(result) {
							$.Dialog.close();
							$.Dialog ({
								overlay: true,
								shadow: true,
								flat: true,
								icon: '<span class="icon-puzzle"></span>',
								title: "Parola noua",
								content: '<div style="padding: 30px 10px 10px;width:500px"><p id="changePasswd" class="readable-text"></p><button class="button" onclick="refresh()">Ok</button>'
							});
							$("#changePasswd").html(result);
						},
						error : function() {
							$("#notPassword").html("<em>Parola veche nu se potriveste!</em>");
						}
					});
				}
			</script>
	        <a style="color: white;" href='<?php echo "profil.php?user=" . $_SESSION["user"]; ?>'><button class="element image-button image-left place-right"><?php echo $_SESSION["user"]; ?><img src=
	      	<?php
				$file = "Uploads\\". $_SESSION["uid"] ."\\profile\\" . "profile_picture" . $_SESSION["uid"] . ".jpg";
				if (is_file($file)) {
					echo $file;
				}
				else
					echo "public\\images\\user_generic.jpg";
			?> /></button></a>
		<?php endif; ?>
		<script>		
		/* navbar */
			$(document).ready(function() {
				$(document).scroll(function() {
					if ($(this).scrollTop() > 0)
						$("#navbar").addClass("fixed-top shadow");
					else
						$("#navbar").removeClass("fixed-top shadow");
				});
			});
					
			$(document).ready(function() {
				$("#signUpScreen").on("click", function() {
					$.Dialog ({
						overlay: true,
						shadow: true,
						flat: true,
						icon: '<span class="icon-puzzle"></span>',
						title: "Inregistrare",
						content: '<div style="padding: 30px 10px 10px;width:500px"><label>Nume</label><div class="input-control text"><input id="lastname" type="text" name="lastname" placeholder="numele dvs."/></div><label>Prenume</label><div class="input-control text"><input id="firstname" type="text" name="firstname" placeholder="prenumele dvs."/></div><label>Utilizator</label><div class="input-control text"><input id="username" type="text" name="username" placeholder="nume de utilizator"/></div><label>Parola</label><div class="input-control password"><input id="password" type="password" name="password" placeholder="parola dvs."/></div><label>Parola</label><div class="input-control password"><input id="confirmPassword" type="password" name="confirmPassword" placeholder="confirmati parola"/></div><label>Email</label><div class="input-control text"><input id="email" type="text" name="email" placeholder="email-ul dvs."/></div><button class="button primary" onclick="register()">Trimite</button>&nbsp<button class="button" type="reset">Reseteaza</button></div>'
					});
				});
			});

			$(document).ready(function() {
				$("#logInScreen").on("click", function() {
					$.Dialog ({
						overlay: true,
						shadow: true,
						flat: true,
						icon: '<span class="icon-puzzle"></span>',
						title: "Autentificare",
						content: '<div style="padding: 30px 10px 10px;width:400px"><p id="notLog" class="fg-red"></p><label>Utilizator</label><div class="input-control text"><input id="usernameLog" type="text" name="usernameLog" placeholder="nume de utilizator"/></div><label>Parola</label><div class="input-control password"><input id="passwordLog" type="password" name="passwordLog" placeholder="parola dvs."/></div><button class="button primary" onclick="log()">Trimite</button>&nbsp<button class="button" type="reset">Reseteaza</button></div>'
					});
				});
			});

			var register = function() {
				var ok1 = 1;
				var ok2 = 1;
				var ok3 = 1;
				var ok4 = 1;
				var ok5 = 1;

				if (lastname.value === "") {
					$("#lastname").parent().addClass("error-state");
					ok1 = 0;
				}
				else {
					$("#lastname").parent().removeClass("error-state");
					ok1 = 1;
				}
				if (firstname.value === "") {
					$("#firstname").parent().addClass("error-state");
					ok2 = 0;
				}
				else {
					$("#firstname").parent().removeClass("error-state");
					ok2 = 1;
				}
				if (username.value === "") {
					$("#username").parent().addClass("error-state");
					ok3 = 0;
				}
				else {
					$("#username").parent().removeClass("error-state");
					ok3 = 1;
				}
				if (email.value === "") {
					$("#email").parent().addClass("error-state");
					ok4 = 0;
				}
				else {
					$("#email").parent().removeClass("error-state");
					ok4 = 1;
				}
				if ((password.value === "" && confirmPassword.value === "") || password.value !== confirmPassword.value) {
					$("#password").parent().addClass("error-state");
					$("#confirmPassword").parent().addClass("error-state");
					ok5 = 0;
				}
				else {
					$("#password").parent().removeClass("error-state");
					$("#confirmPassword").parent().removeClass("error-state");
					ok5 = 1;
				}

				if (ok1 === 0 || ok2 === 0 || ok3 === 0 || ok4 === 0 || ok5 === 0) {
					return;
				}

				$.ajax ({
					url : "adduser.php", 
					type : "POST",
					async : false,
					data : {
						username : username.value,
						password : password.value,
						firstname : firstname.value,
						lastname : lastname.value,
						email : email.value
					},
					success : function(result) {
						$.Dialog.close();
						$.Dialog ({
							overlay: true,
							shadow: true,
							flat: true,
							icon: '<span class="icon-puzzle"></span>',
							title: "Inregistrare efectuata",
							content: '<div style="padding: 30px 10px 10px;width:500px"><p id="res" class="readable-text"></p><button class="button" onclick="refresh()">Ok</button>'
						});
						$("#res").html(result);
					},
					error : function() {
						$("#username").parent().addClass("error-state");
						$("#username").val("Numele de utlizator exista deja!");
					}
				});
			}

			var refresh = function() {
				$.Dialog.close();
				document.location = '<?php if ($_SERVER["QUERY_STRING"]) {  echo $_SERVER["PHP_SELF"] . "?" . $_SERVER["QUERY_STRING"]; } else { echo $_SERVER["PHP_SELF"]; } ?>'
			}

			var log = function () {
				var ok1 = 1;
				var ok2 = 1;

				if (usernameLog.value === "") {
					$("#usernameLog").parent().addClass("error-state");
					ok1 = 0;
				}
				else {
					$("#usernameLog").parent().removeClass("error-state");
					ok1= 1;
				}

				if (passwordLog.value === "") {
					$("#passwordLog").parent().addClass("error-state");
					ok2 = 0;
				}
				else {
					$("#passwordLog").parent().removeClass("error-state");
					ok2 = 1;
				}

				if (ok1 === 0 || ok2 === 0)
					return;

				$.ajax ({
					url : "login.php", 
					type : "POST",
					async : false,
					data : {
						username : usernameLog.value,
						password : passwordLog.value
					},
					success : function(result) {
						refresh()
					},
					error : function() {
						$("#notLog").html("<em>Utilizator sau parola incorecta</em>");
					}
				});
			}
		</script>
	</nav>
</nav>
